
.about-me{
    display: flex;
    position: relative;
    padding: 20px;
    max-height: 50vh;
    margin-top: 5px;
    width: 100%;
    background-image: url("../../../public/fondo.jpg");
    object-fit: cover;
    box-shadow:  2px 2px 5px 2px rgba(0, 0, 0, 0.2);  
}

.about-me img{
    width: 50%;
    object-fit: cover;
}
.about-me p{
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    color: var(--color-titulo-header);
    font-size: 20px;
    font-family: var(--fuente-titulo);
    font-weight: 500;
}

.about-me-general p{
    text-align: justify;
    padding: 20px;
    color: black;
    font-family: var(--fuente-texto);
    font-size: 16px;
    line-height:1.5 ;
    letter-spacing: 0.5px;
}
.btn-cv{
    margin: 20px auto;
    justify-self: center;
    width: 200px;
    font-size: 16px;
    background-color: var(--color-primario);
    font-family: var(--fuente-texto);
    padding: 10px;
  
}
.btn-cv a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: var(--color-titulo-header);
}