header{
    display: grid;
    width: 100%;
    background-color: var(--color-primario);
    padding: 5px;
}
header a{
    text-decoration: none;
}
.header-name{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: var(--fuente-titulo);
    font-size: 27px;
    color: var(--color-titulo-header);
    font-weight: 700;
}

.nav-menu{
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--fuente-texto);
    font-size: 20px;
}
.nav-menu__item{
    color: var(--color-titulo-header);
    cursor: pointer;
}
.nav-menu__item:hover{
    color: gray;
}
.item1{
    margin-right: 10px;
}