
.projects-container{
    box-sizing: border-box;
    display: block;
    width: 95%;
    margin:2.5%;
}
h1{
    padding-left: 2%;
    margin-bottom: 10px;
}
h2{
    margin:0
}
.project-item{
    display: grid;
    width: 95%;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.project-text{
    display: block;
    width: 80%;
    padding-left: 2%;
    font-size: 'roboto';
}

.project-img__marvel{
    width: 100%;
}
.project-item__marvel{
    background-color: whitesmoke;
}

.project-item__wanders{
    background-color: whitesmoke;
    margin-top: 50px;
}